@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

:root {
   --button-color: #ffffff;
   --button-bg-color: #0d6efd;
   --button-hover-bg-color: #025ce2;
   --ball10: #fbc400;
   --ball20: #69c8f2;
   --ball30: #ff7272;
   --ball40: #aaa;
   --ball50: #b0d840;
}

td {
   width: 130px;
   text-align: center;
   border: 1px solid black;
}

table {
   border: 1px solid black;
   margin-bottom: 10px;
}

.boom {
   background-color: rgba(76, 76, 219, 0.295);
}

.super {
   background-color: rgba(231, 32, 18, 0.555);
}

p {
   display: inline;
}

.red_color {
   background-color: rgba(255, 0, 0, 0.322);
}

.yellow_color {
   background-color: rgba(255, 255, 0, 0.212);
}

.input_wh33 {
   width: 40px;
   height: 40px;
   border-radius: 25px;
   border: 1px solid var(--button-bg-color);
   text-align: center;
   margin-right: 0.5em;
   font-weight: bolder;
   font-size: 1rem;
}

.input_wh33:hover,
.input_wh33:focus {
   animation: pulse 1s;
   box-shadow: 0 0 0 1em transparent;
   background-color: var(--button-bg-color);
   color: #ffffff;
   outline: 1px solid var(--button-bg-color);
}

@keyframes pulse {
   0% {
      box-shadow: 0 0 0 0 var(--button-bg-color);
   }
}

.button_css {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: var(--button-bg-color);
   color: var(--button-color);
   margin: 0;
   padding: 0.5rem 1rem;
   font-family: 'Noto Sans KR', sans-serif;
   font-size: 1rem;
   font-weight: 400;
   text-align: center;
   text-decoration: none;
   border: none;
   border-radius: 4px;
   display: inline-block;
   width: auto;
   box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
   cursor: pointer;
   transition: 0.5s;
}

.button_css:active,
.button_css:hover,
.button_css:focus {
   background: var(--button-hover-bg-color);
   outline: 0;
}

.button_css:disabled {
   opacity: 0.5;
}

#machine {
   width: 35rem;
   margin: 10px auto;
   padding: 1%;
   border: 2px solid var(--button-bg-color);
}

#random {
   display: block;
   background-color: var(--button-bg-color);
   border: 1px solid var(--button-bg-color);
   color: var(--button-color);
   height: 4rem;
   text-align: center;
   border-radius: 2rem;
   width: 30rem;
   font-size: 2rem;
   margin: 0px auto 30px auto;
}

#num_machine {
   width: 30rem;
   margin: 0px auto;
}

#save_box {
   width: 15rem;
   margin: 0px auto;
   font-size: 1.5rem;
}

.ball {
   width: 30px;
   height: 30px;
   text-align: center;
   border-radius: 50%;
   margin-left: 10px;
   margin-bottom: 3px;
   font-size: 1rem;
   font-weight: bolder;
   color: #ffffff;
}

.ball10 {
   background-color: var(--ball10);
   border: 1px solid var(--ball10);
}

.ball20 {
   background-color: var(--ball20);
   border: 1px solid var(--ball20);
}

.ball30 {
   background-color: var(--ball30);
   border: 1px solid var(--ball30);
}

.ball40 {
   background-color: var(--ball40);
   border: 1px solid var(--ball40);
}

.ball50 {
   background-color: var(--ball50);
   border: 1px solid var(--ball50);
}

.ml_10 {
   margin-left: 10px;
}

#machine_option {
   margin-top: 10px;
}

/* 옵션 css */
.selectBox * {
   box-sizing: border-box;
}

.selectBox {
   position: relative;
   width: 280px;
   height: 35px;
   border-radius: 4px;
   border: 2px solid var(--button-bg-color);
   background: url('https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/down-bottom-arrow-512.png') calc(100% - 7px) center no-repeat;
   background-size: 20px;
   cursor: pointer;
   margin: 10px auto;
}

.selectBox:after {
   content: '';
   display: block;
   width: 2px;
   height: 100%;
   position: absolute;
   top: 0;
   right: 35px;
   background: var(--button-bg-color);
}

.selectBox .label {
   display: flex;
   align-items: center;
   width: inherit;
   height: inherit;
   border: 0 none;
   outline: 0 none;
   padding-left: 15px;
   background: transparent;
   cursor: pointer;
}

.selectBox .optionList {
   position: absolute;
   top: 28px;
   left: 0;
   width: 100%;
   background: var(--button-bg-color);
   color: #fff;
   list-style-type: none;
   padding: 0;
   border-radius: 6px;
   overflow: hidden;
   max-height: 0;
   transition: .3s ease-in;
}

.selectBox .optionList::-webkit-scrollbar {
   width: 6px;
}

.selectBox .optionList::-webkit-scrollbar-track {
   background: transparent;
}

.selectBox .optionList::-webkit-scrollbar-thumb {
   background: #303030;
   border-radius: 45px;
}

.selectBox .optionList::-webkit-scrollbar-thumb:hover {
   background: #303030;
}

.selectBox.active .optionList {
   max-height: 500px;
}

.selectBox .optionItem {
   border-bottom: 1px dashed #003481;
   padding: 5px 15px 5px;
   transition: .1s;
}

.selectBox .optionItem:hover {
   background: var(--button-hover-bg-color);
}

.selectBox .optionItem:last-child {
   border-bottom: 0 none;
}